.homeOneContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.eggSection {
  background-color: red;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.textItems {
  max-width: 400px;

  h2 {
    font-family: "Fraunces", serif;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0;
    font-family: "Fraunces", serif;
  }
}

@media (max-width: 768px) {
  .homeOneContainer {
    display: flex;
    flex-direction: column-reverse;
  }
}
